.container{
    /* text-align: center; */
    width: 100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.watch-display{
    /* width: 50%; */
    font-size: 3rem;
    text-align: center;
    margin: auto;
    height: auto;
    padding: 10px;
    margin: 10px;
}

.btn{
    font-size: 1.3rem;
    background-color: none;
    border: 2px solid transparent;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
}

.btn:hover{
    border-color: black ;
}